<h3>Products</h3>
<ul>
  <% @products.each do |p| %>
    <li>
      <%= link_to p.name, product_path(p) %>
    </li>
  <% end %>
</ul>
<%= button_to "Create New Product", new_products_path, method: :get, class: "btn btn-md btn-primary" %>
<%= button_to "Home", root_path, method: :get, class: "btn btn-md btn-primary" %>		